<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/">Résumé</a></li>
				<li><a href="/">
<img src="//t-mondal.github.io/images/trademark.png" class="inline" style='height: 4%; width: 4%; object-fit: contain'/> </a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<i class="fa fa-facebook-official w3-hover-text-indigo"> <a href="https://www.facebook.com/tuneer.mondal"></a></i>
    			<i class="fa fa-linkedin w3-hover-text-indigo"></i>
			</footer>
		</body>
	</html>
