<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/">Résumé</a></li>
				<li><a href="/">
<img src="//images/trademark.png" alt="Dundas Peak" class="inline" style='height: 10%; width: 10%; object-fit: contain'/> </a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		
			</footer>
		</body>
	</html>
