<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:t2mondal@edu.uwaterloo.ca">
					<img src="logos/mail.png" alt="Email" class="inline" style='height: 18%; width: 18%; object-fit: contain'/></a></li>
				<li><a href="https://www.linkedin.com/in/tuneer-mondal" target="_blank">
					<img src="logos/linkedIn.png" alt="Linkedin" class="inline" style='height: 18%; width: 18%; object-fit: contain'/></a></li>
	        		<li><a href="https://github.com/t-mondal" target="_blank">
					<img src="logos/github.png" alt="GitHub" class="inline" style='height: 18%; width: 18%; object-fit: contain'/></a></li>
				<li><a href="https://www.facebook.com/tuneer.mondal" target="_blank">
					<img src="logos/facebook.png" alt="Facebook" class="inline" style='height: 18%; width: 18%; object-fit: contain'/></a></li>
				</ul>
			</footer>
		</body>
	</html>
